/* --------------------------------------------------------------
Variable
-------------------------------------------------------------- */
/* couleur */
:root{
    --color-first: #ffffff;
    --color-second: #B8C5D6;
    --color-third: #07387A;
    --color-article-about: rgb(236,245, 254);
    --couleur-fond-page: rgb(240,240,240);
}
/* police */
:root{
    --police-principale: "Montserrat", sans-serif;
}

/* bleu foncé:  #07387A
bleu plus clair  :  #B8C5D6 */

/* -----------------------------------------------------------------------------
article
----------------------------------------------------------------------------- */
article{
    flex: 1;
    margin-top: 120px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-first);
}

@media(max-width:640px){
    .container-article-responsive{
        margin-top: 140px;
    }
}

article h1{
    font-weight: 800;
    margin-top: 40px;
    margin-bottom: 19px;
    font-size: 20px;
}

article p{
    font-size: 14px;
    margin-bottom: 15px;
}
article section{
    margin-top: 10px;
    padding-top: 20px;
    background-color: var(--couleur-fond-page);
    margin-left: 15%;
    margin-right: 15%;
    
}


article strong{
    font-weight: 700;
}

.statistical-project{
    display: flex;
    flex-direction: row;
}

article h2{
    font-weight: 600;
    margin-left: 50px;
}

article h2::before {
    content: "";
    display: inline-block;
    width: 30px; /* Longueur du trait */
    height: 1px; /* Épaisseur */
    background: var(--color-third); /* Couleur */
    margin-right: 10px; /* Espacement avec le texte */
    vertical-align: middle;
    /* color: var(--color-third); */
}

@media(max-width:890px){
    .statistical-project{
    flex-direction: column;
}
    .why-us h2{
        margin-left: 0;
    }
}

/* --------mettre toutes les textes gras en bleue--------- */
#couleur-bleue-about{
    color: var(--color-third);
}

/* alignement de l'image à l'intérieur de la classe statistical-project */
.statistical-project img{
    margin-top: 40px;
}

/* --------------------------modification de la section-------------------------- */
.section-pleine-largeur{
    flex:1;
    height: 100%;
    padding-bottom: 20px;
}