/* --------------------------------------------------------------
Variable
-------------------------------------------------------------- */
/* couleur */
:root{
    --color-first: #ffffff;
    --color-second: #B8C5D6;
    --color-third: #07387A;
    --color-article-about: rgb(236,245, 254);
    --couleur-fond-page: rgb(240,240,240);
}
/* police */
:root{
    --police-principale: Arial, Helvetica, sans-serif;
}

/* bleu foncé:  #07387A
bleu plus clair  :  #B8C5D6 */

/* -----------------------------------------------------------------------------
article
----------------------------------------------------------------------------- */
article{
    flex: 1;
    margin-top: 140px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-first);
}
/* .contenu{
    flex:1;
    height: 100%;
} */

@media(max-width:640px){
    .container-article-responsive{
        margin-top: 140px;
    }
}

article h1{
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 19px;
    font-size: 18px;
    /* font-size: 20px; */
}

article p{
    font-size: 16px;
    margin-bottom: 15px;
}



article strong{
    font-weight: 700;
}

.statistical-project{
    display: flex;
    flex-direction: column;
}

article h2{
    font-weight: 600;
    margin-left: 50px;
}

#couleur-marge-about{
    color: var(--color-third);
    font-weight: bolder;
    margin-left: 4%;
}

@media(max-width:890px){
    .statistical-project{
    flex-direction: column;
}
    .why-us h2{
        margin-left: 0;
    }
}

/* --------mettre toutes les textes gras en bleue--------- */
#couleur-bleue-about{
    color: var(--color-third);
}





/* -----------------------------------------dimensionnement section------------------------- */
article section{
    margin-top: 20px;
    padding-top: 20px;
    background-color: var(--couleur-fond-page);
    margin-left: 10%;
    margin-right: 10%;
    
}
@media(max-width:640px){
    article section{
        margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
}


.section-pleine-largeur{
    flex:1;
    height: 100%;
    padding-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
}

/* ------------------------------------partie du titre The Statistical Project Lead------------------------------ */
/* .title-statistical-projet-responsive{
    display: none;
}
@media(max-width:890px){
    .title-statistical-projet-responsive{
    display: inline;
    margin-bottom: 0;
}
    .title-statistical-projet-pc{
        display: none;
    }
} */