/* --------------------------------------------------------------
Variable
-------------------------------------------------------------- */
/* couleur */
:root{
    --color-first: #ffffff;
    --color-second: #B8C5D6;
    --color-third: #07387A;
    --color-article-about: rgb(236,245, 254);
    --couleur-fond-page: rgb(240,240,240);
}
/* police */
:root{
    --police-principale: "Montserrat", sans-serif;
}

/* ---------------------------------------------------------------------------
article
--------------------------------------------------------------------------- */

article{
  background-color: var(--color-first);
  flex: 1;
  margin-top: 130px;
  /* background-image: url('fond_ecran_v1.png');
  background-color: var(--couleur-fond-page);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  */
}

section{
  /* flex: 1; */
  /* margin-top: 150px; */
  background-image: url('fond_ecran_v1.png');
  background-color: var(--couleur-fond-page);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 10%;
    margin-right: 10%;
}

@media(max-width:640px){
    .container-article-responsive{
        margin-top: 140px;
    }
}

.container{
  position: relative;
  width: 100%;
    height: 40vw;
    margin: auto;
    overflow: auto;
    
}

/* titre section */
section .title-article{
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  margin-top: 30px;
  color:var(--color-third);
}

/* ------------------------structure principal--------------------------------- */

.layer-bg{
  width: 300px;
  height: 40px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
/* .layer-bg:hover{
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border-radius: 0px 20px 20px 0px;
  border-left: var(--color-third) solid 10px;
  margin-left: 10px;
  overflow: visible;
  height: auto;
  background-color: var(--color-first);
  z-index: 100;
} */


.layer-bg.active{
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border-radius: 0px 20px 20px 0px;
  border-left: var(--color-third) solid 10px;
  margin-left: 10px;
  overflow: visible;
  height: auto;
  background-color: var(--color-first);
  z-index: 100;
}

/* titre des éléments */
.title-container{
    font-size: 20px;
    transition: text-shadow 0.2s ease-in-out;
    margin-bottom: 30px;
    text-shadow: 3px 3px 5px var(--color-first),
                 -3px -3px 5px var(--color-first),
                 3px -3px 5px var(--color-first),
                 -3px 3px 5px var(--color-first);
}

.title-container:hover {
    text-shadow: 7px 7px 15px var(--color-third),
                 -7px -7px 15px var(--color-third),
                 7px -7px 15px var(--color-third),
                 -7px 7px 15px var(--color-third);
}

/* marge du texte à l'intérieur des bulles de texte */
.item-container{
  margin: 5px;
}

/* position de chaque container */
.container1{
  /* top: 420px; */
  top:123px;
  right: 2px;
}
.container2{
  top: 340px;
  right: 2px;
}

.container3{
  top:200px;
  left: 20%;
}

.container4{
 top:340px;
 left: 150px;
}
.container5{
 top:125px;
 left: 40%;
}
.container6{
 top:250px;
 /* right: 150px; */
 right: 20%;
}
.container7{
 /* top:35%;
 left: 40%; */
 top:120px;
 left: 90px;
}
.container8{
 top:340px;
 right: 150px;
}
/* .container9{
 top:120px;
 left: 90px;
} */
/* .container10{
 top:123px;
 right: 90px;
} */
/* .container11{
 top: 427px; 
  right: 90px;
  
} */

@media (max-width: 1060px){
  .container{
    height: 900px;
    /* position: absolute;
    z-index: -3; */
  }

  .layer-bg{
    height: 38px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border-radius: 0px 20px 20px 0px;
    border-left: var(--color-third) solid 10px;
    margin-left: 10px;
    background-color: var(--color-first);
    margin: 30px;
    margin-left: 15vw;
  }

  .layer-bg.active{
  margin-left: 12vw;
  }

  /* titre article */
  article .title-article{
  font-size: 40px;
}

.title-container:hover {
    text-shadow: 7px 7px 15px var(--color-first),
                 -7px -7px 15px var(--color-first),
                 7px -7px 15px var(--color-first),
                 -7px 7px 15px var(--color-first);
}

}
/* --------------------------modification de la section-------------------------- */
.section-pleine-largeur{
    flex:1;
    height: 100%;
}