/* ---------------------------------------------------------------------------
article
--------------------------------------------------------------------------- */

article{
  margin-top: 70px;
  /* background-image: url('fond-image-accueil.png'); */
  background-color: var(--color-second);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}

.container{
  position: relative;
  width: 100%;
    height: 600px;
    margin: auto;
    overflow: auto;
    
}

/* titre article */
article .title-article{
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  margin-top: 30px;
}

/* ------------------------structure principal--------------------------------- */

.layer-bg{
  width: 300px;
  height: 40px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
/* .layer-bg:hover{
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border-radius: 0px 20px 20px 0px;
  border-left: var(--color-third) solid 10px;
  margin-left: 10px;
  overflow: visible;
  height: auto;
  background-color: var(--color-first);
  z-index: 100;
} */


.layer-bg.active{
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border-radius: 0px 20px 20px 0px;
  border-left: var(--color-third) solid 10px;
  margin-left: 10px;
  overflow: visible;
  height: auto;
  background-color: var(--color-first);
  z-index: 100;
}

/* titre des éléments */
.title-container{
    font-size: 20px;
    transition: text-shadow 0.2s ease-in-out;
    margin-bottom: 30px;
    text-shadow: 3px 3px 5px var(--color-first),
                 -3px -3px 5px var(--color-first),
                 3px -3px 5px var(--color-first),
                 -3px 3px 5px var(--color-first);
}

.title-container:hover {
    text-shadow: 7px 7px 15px var(--color-third),
                 -7px -7px 15px var(--color-third),
                 7px -7px 15px var(--color-third),
                 -7px 7px 15px var(--color-third);
}

/* marge du texte à l'intérieur des bulles de texte */
.item-container{
  margin: 5px;
}

/* position de chaque container */
.container1{
  top: 420px;
  left: 90px;
}
.container2{
  top: 415px;
  left: 40%;
}

.container3{
  top:200px;
  left: 150px;
}

.container4{
 top:340px;
 left: 150px;
}
.container5{
 top:125px;
 left: 40%;
}
.container6{
 top:200px;
 right: 150px;
}
.container7{
 top:42%;
 left: 40%;
}
.container8{
 top:340px;
 right: 150px;
}
.container9{
 top:120px;
 left: 90px;
}
.container10{
 top:123px;
 right: 90px;
}
.container11{
 top: 427px;
 right: 90px;
}

@media (max-width: 1060px){
  .container{
    height: auto;
  }

  .layer-bg{
    height: 38px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border-radius: 0px 20px 20px 0px;
    border-left: var(--color-third) solid 10px;
    margin-left: 10px;
    background-color: var(--color-first);
    margin: 30px;
    margin-left: 15vw;
  }

  .layer-bg.active{
  margin-left: 12vw;
  }

  /* titre article */
  article .title-article{
  font-size: 40px;
}

.title-container:hover {
    text-shadow: 7px 7px 15px var(--color-first),
                 -7px -7px 15px var(--color-first),
                 7px -7px 15px var(--color-first),
                 -7px 7px 15px var(--color-first);
}

}