/* --------------------------------------------------------------
Variable
-------------------------------------------------------------- */
/* couleur */
:root{
    --color-first: #ffffff;
    --color-second: #B8C5D6;
    --color-third: #07387A;
    --color-article-about: rgb(236,245, 254);
    --couleur-fond-page: rgb(240,240,240);
}
/* police */
:root{
    --police-principale: Arial, Helvetica, sans-serif;
}
/* -------------------------------------------------------------------
article
------------------------------------------------------------------- */
article{
    flex: 1;
    margin-top: 151px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-first);
}

@media(max-width:640px){
    .container-article-responsive{
        margin-top: 140px;
    }
}

article section{
    margin-top: 10px;
    padding-top: 20px;
    margin-left: 15%;
    margin-right: 15%;
    background-color: var(--couleur-fond-page);
}

article h1{
    font-weight: 800;
    margin-top: 40px;
    margin-bottom: 19px;
    font-size: 14px;
}

article p{
    font-size: 14px;
    margin-bottom: 15px;
}

article strong{
    font-weight: 700;
}

article a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: var(--color-third);
    text-decoration: underline;
}

article section span {
    margin-left: 4%;
    margin-right: 4%;
}

article section span p{
    margin: 0;
}



/* article h2{
    font-weight: 600;
    margin-left: 50px;
} */


@media(max-width:900px){
    article section{
    padding-left: 5%;
    padding-right: 5%;
}

    /* article section span {
    margin-left: 2%;
    margin-right: 2%;
} */
}

/* -----------------------------------------dimensionnement section------------------------- */
article section{
    margin-top: 10px;
    padding-top: 20px;
    background-color: var(--couleur-fond-page);
    margin-left: 10%;
    margin-right: 10%;
    
}
@media(max-width:640px){
    article section{
        margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
}

.section-pleine-largeur{
    flex:1;
    height: 100%;
    padding-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
}