/* --------------------------------------------------------------
Variable
-------------------------------------------------------------- */
/* couleur */
:root{
    --color-first: #ffffff;
    --color-second: #B8C5D6;
    --color-third: #07387A;
    --color-article-container-service: #EBF4F3;
    --color-article-about: rgb(236,245, 254);
    --couleur-fond-page: rgb(240,240,240);
}
/* police */
:root{
    --police-principale: Arial, Helvetica, sans-serif;
}

/* -------------------------------------------------------------------
effect ombre du header
------------------------------------------------------------------- */

/* header::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), transparent);
} */
/* --------------------------------------------------------------
article
-------------------------------------------------------------- */
article{
    flex: 1;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 151px;
    /* padding-top: 20px;
    padding-bottom: 20px; */
    background-color: var(--color-first);
    /* height: 1000px; */
}

/* section{
    height: 300px;
} */

@media(max-width:640px){
    .container-article-responsive{
        margin-top: 140px;
    }
}
/* -----------effet ombre au début de l'article-------------------------------- */

article::after{
    content: "";
    position: fixed;
    top: 85px;
    left: 0;
    width: 100%;
    height: 80px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.05), transparent);
    /* z-index: 300; */
}





/* -----------------------------------------study set-up--------------------------------- */
/* couleur du haut de la partie */
.title-article-service {
    color: var(--color-third);
    
}

/* conteneur des box */
.container-article-service{
    
    padding: 15px;
    /* background-color: var(--color-first); */
    background: var(--color-first);
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 0;
    width: 300px;
    /* height: 310px; */
    height: auto;
    border: solid 2px var(--color-first);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25)
}

/* titre à l'intérieur du container */
.title-inside{
    margin-bottom: 10px;
}

/* ----------------------------taille des polices p ---------------------- */
/* à l'intérieur des container */
.container-article-service p{
    font-size: 13px;
}

.container-article-service h1{
    font-weight: bold;
    color: var(--color-third);
}
/* -----------------------------------------dimensionnement section------------------------- */
article section{
    margin-top: 10px;
    padding-top: 20px;
    background-color: var(--couleur-fond-page);
    margin-left: 10%;
    margin-right: 10%;
    
}
@media(max-width:640px){
    article section{
        margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
}

.section-pleine-largeur{
    flex:1;
    height: 100%;
    padding-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
}

.study-set-up{
    margin-top: 40px;
}