/* --------------------------------------------------------------
Variable
-------------------------------------------------------------- */
/* couleur */
:root{
    --color-first: #ffffff;
    --color-second: #5281BB;
    --color-third: #3F8AE6;
}
/* police */
:root{
    --police-principale: Arial, Helvetica, sans-serif;
}
/* --------------------------------------------------------------
style global
-------------------------------------------------------------- */
body{
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* --------------------------------------------------------------
header
-------------------------------------------------------------- */

