/* --------------------------------------------------------------
Variable
-------------------------------------------------------------- */
/* couleur */
:root{
    --color-first: #ffffff;
    --color-second: #B8C5D6;
    /* --color-third: #07387A; */
    --color-third: rgb (3,49,94);
    --color-fourth: rgb(7, 56, 122);
    --color-footer: rgb (3,49,94);
}
/* police */
:root{
    --police-principale: "Montserrat", sans-serif;
}
/* --------------------------------------------------------------
style global
-------------------------------------------------------------- */
body{
    margin: 0;
    display: flex;
    flex-direction: column;
}


/* lorsque la souris survol un texte */

.souligne {
    position: relative;
}

.souligne::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 1px;
    background-color: var(--color-third);
    transition: width 0.3s ease-in-out;
}

.souligne:hover::after {
    width: 100%;
}

.menu-selected{
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-color: var(--color-third);
}
@media (max-width: 1060px){
  .souligne::after{
    background-color: var(--color-second);
  }
}


/* --------------------------------------------------------------
header
-------------------------------------------------------------- */
header{
  
  opacity: 1;
    mix-blend-mode: normal;
    width: 100%;
    height: 155px;
    position: fixed;
    background-color: var(--color-first);
    z-index: 200;
    border-bottom: var(--color-third) solid 22px;
}

@media (max-width: 640px){
  header{

    height: 140px;

}
}

/* -------------------icon linkedin header------------------------------ */
.icon-linkedin-header{
  display: none;
  position: absolute;
  top: 40px;
  left: 30px;
}

/* -------------------logo------------------------------ */
.logo{
    margin-right: 10vw;
    margin-left: 10vw;
    margin-top: -10px;
}

.logo a img{
    width: auto;
    height: 135px;
    transition: transform 0.2s ease-in-out;
    margin-bottom: -12px;
}
.logo a img:hover{
    transform: scale(1.1);
}

.logo p{
    font-size: 10px;
    /* position: absolute; */
    /* top: 74px; */
}

@media (max-width: 640px){
  .logo a img{
    height: 115px;
    
}
}

/* -------------------nav en mode PC------------------------------ */
nav{
    flex-direction: row;
    font-size: 15px;
    /* position: fixed; */
}
.nav-list{
  position: absolute;
    display: flex;
    flex-direction: row;
    right: 20px;
    top: 75px;
    
}

.nav-list li a{
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: var(--color-third);
    font-size: 15px;
    font-weight: 600;
}


/* ------------------menu burger pour la nav en responsive-------------- */
.burger {
  display: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  top: 70px;
  right: 10px;
  transform: translate(-50%, -50%);
  background: var(--color-first);
  cursor: pointer;
  z-index: 20;
}

.ligne {
  width: 50%;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background: var(--color-third);
}

.ligne::after,
.ligne::before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: var(--color-third);
  border-radius: 5px;
  position: absolute;
}

.ligne::after {
  top: -10px;
}

.ligne::before {
  top: 10px;
}

/*  animation burger */

.burger.active .ligne::before {
  transition: transform .2s ease-in-out;
  transform: translateY(-10px) rotate(-45deg)
}

.burger.active .ligne::after {
  transition: transform .2s ease-in-out;
  transform: translateY(10px) rotate(45deg)
}

.burger.active .ligne {
  background: transparent;
}






@media (max-width: 1060px){
  /* -------------------icon linkedin header------------------------------ */
.icon-linkedin-header{
  display: initial;
}
  /* ---------- menu nav --------------------- */
.nav-list {
    flex-direction: column;
    text-align: center;
    position: sticky;
    right: 0;
    top: 40px;
    width: 100%; /* Correction */
    z-index: 200;
}
nav {
top: 130px;
position: absolute;
height: auto;
width: 100%;
background: var(--color-first);
transition: all .2s ease-in;
left: -101%;
}



.nav-list li {
  border-bottom: var(--color-third) solid 1px;
  padding: 20px;
}

/* .nav-list li::after {
  text-align: center;
    cursor: pointer;
    content: " >";
    font-size: 25px;
    color: var(--color-first);
    position: absolute;
    right: 0;
    padding-right: 20px;
    transition: transform 0.2s ease-in-out;
}

/*.nav-list li:hover::after {
    transform: translateX(5px);
}*/
.nav-list li:hover {
    background-color: var(--color-second);
    cursor: pointer;
} 

nav.menu-active {
  left: 0;
}


/* menu burger responsive */
.burger{
    display: flex;
}

/* -------------------effacement de linked in dans la barre de navigation en responsive----------- */
.linkedin-nav{
  display: none;
}
/* ---------------------------menu séléctionné-------------------------------------------- */
.menu-selected{
  background-color: var(--color-second);
  text-decoration-color: var(--color-second);
}
}



/* ---------------------------------------------------------------------------------
bulle flottante
--------------------------------------------------------------------------------- */
.bulle-flottante{
  position: fixed;
  right: 15px;
  bottom: 15px;
  border-radius: 20px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: var(--color-first);
}
.bulle-flottante a{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
}

.bulle-flottante p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

@media (max-width: 640px){
  .bulle-flottante{
  right: 8px;
  bottom: 58px;
  border-radius: 12px;
}
.bulle-flottante a{
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 12px;
  padding-left: 12px;
}

.bulle-flottante p{
  font-size: 15px;
}

}

/* -------------------------------------------------------------------------------
footer
------------------------------------------------------------------------------- */
footer p, a, h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bolder;
}

/* footer a{
  font-size: 20px;
} */