/* --------------------------------------------------------------
Variable
-------------------------------------------------------------- */
/* couleur */
:root{
    --color-first: #ffffff;
    --color-second: #577191;
    --color-third: #3F8AE6;
}
/* police */
:root{
    --police-principale: "Montserrat", sans-serif;
}
/* --------------------------------------------------------------
style global
-------------------------------------------------------------- */
body{
    margin: 0;
    display: flex;
    flex-direction: column;
}
a{
  font-size: 10px;
}

/* lorsque la souris survol un texte */

.souligne {
    position: relative;
}

.souligne::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 1px;
    background-color: var(--color-first);
    transition: width 0.3s ease-in-out;
}

.souligne:hover::after {
    width: 100%;
}


/* --------------------------------------------------------------
header
-------------------------------------------------------------- */
header{
  
  opacity: 1;
    mix-blend-mode: normal;
    width: 100%;
    height: 75px;
    position: fixed;
    background-color: var(--color-third);
    z-index: 200;
}

.logo{
    margin-right: 10vw;
    margin-left: 10vw;
}

.logo a img{
    width: auto;
    height: 70px;
    transition: transform 0.2s ease-in-out;
    margin-bottom: -22px;
}
.logo a img:hover{
    transform: scale(1.1);
}

.logo p{
    font-size: 10px;
    /* position: absolute; */
    /* top: 74px; */
}


nav{
    flex-direction: row;
    font-size: 15px;
    /* position: fixed; */
}
.nav-list{
  position: absolute;
    display: flex;
    flex-direction: row;
    right: 20px;
    top: 25px;
    
}

.nav-list li a{
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: var(--color-first);
    font-size: 15px;
}


/* ------------------menu burger-------------- */
.burger {
  display: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  top: 3rem;
  right: 1rem;
  transform: translate(-50%, -50%);
  background: var(--color-third);
  cursor: pointer;
  z-index: 20;
}

.ligne {
  width: 50%;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background: var(--color-first);
}

.ligne::after,
.ligne::before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: var(--color-first);
  border-radius: 5px;
  position: absolute;
}

.ligne::after {
  top: -10px;
}

.ligne::before {
  top: 10px;
}

/*  animation burger */

.burger.active .ligne::before {
  transition: transform .2s ease-in-out;
  transform: translateY(-10px) rotate(-45deg)
}

.burger.active .ligne::after {
  transition: transform .2s ease-in-out;
  transform: translateY(10px) rotate(45deg)
}

.burger.active .ligne {
  background: transparent;
}




/*  menu */

@media (max-width: 800px){
.nav-list {
    flex-direction: column;
    position: sticky;
    right: 0;
    top: 40px;
    width: 100%; /* Correction */
    z-index: 200;
}
nav {
top: 70px;
position: absolute;
height: auto;
width: 100%;
background: var(--color-third);
transition: all .2s ease-in;
left: -101%;
}



.nav-list li {
  border-bottom: var(--color-first) solid 1px;
  padding: 20px;
}

.nav-list li::after {
  text-align: center;
    cursor: pointer;
    content: " >";
    font-size: 25px;
    color: var(--color-first);
    position: absolute;
    right: 0;
    padding-right: 20px;
    transition: transform 0.2s ease-in-out;
}

.nav-list li:hover::after {
    transform: translateX(5px); /* Déplace la flèche au survol */
}

nav.menu-active {
  left: 0;
}


/* menu burger */
.burger{
    display: flex;
}
}

/* ---------------------------------------------------------------------------
article
--------------------------------------------------------------------------- */
article{
  margin-top: 70px;

}

.container{
  position: relative;
  width: 100%;
    height: 600px;
    margin: auto;
    overflow: auto;
}

/* ------------------------structure principal--------------------------------- */

.layer-bg{
  width: 300px;
  height: 30px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  
}

.layer-bg.active{
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border-radius: 0px 20px 20px 0px;
  border-left: var(--color-third) solid 10px;
  margin-left: 10px;
  overflow: visible;
  height: auto;
  background-color: var(--color-first);
  z-index: 100;
}

/* titre des éléments */
.title-container{
    font-size: 17px;
    transition: text-shadow 0.2s ease-in-out;
    margin-bottom: 30px;
}

.title-container:hover {
    text-shadow: 3px 3px 5px var(--color-first),
                 -3px -3px 5px var(--color-first),
                 3px -3px 5px var(--color-first),
                 -3px 3px 5px var(--color-first);
}

/* marge du texte à l'intérieur des bulles de texte */
.item-container{
  margin: 5px;
}




/* position de chaque container */
.container1{
  top: 420px;
  left: 90px;
}
.container2{
  top: 415px;
  left: 40%;
}

.container3{
  top:180px;
  left: 150px;
}

.container4{
 top:360px;
 left: 150px;
}
.container5{
 top:125px;
 left: 40%;
}
.container6{
 top:180px;
 right: 150px;
}
.container7{
 top:50%;
 left: 40%;
}
.container8{
 top:360px;
 right: 150px;
}
.container9{
 top:120px;
 left: 90px;
}
.container10{
 top:123px;
 right: 90px;
}
.container11{
 top: 427px;
 right: 90px;
}

/* -------------------------------------------------------------------------------
footer
------------------------------------------------------------------------------- */
